<!DOCTYPE HTML>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">

  <div class="container">

    <div class="navbar-header">

      <a href="#" class = "navbar-brand">Kevin's Site</a>

      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

    </div>

    <div class = "collapse navbar-collapse navHeaderCollapse">

        <ul class = "nav navbar-nav navbar-right">

          <li> <%= link_to 'Home', root_path %> </li>
          <li> <%= link_to 'About', about_path %> </li>

        </ul>

    </div>

  </div>

</div>

<div class="container">

  <div class="jumbotron">

    <div class="jumbotron-man">
      <h1>The About Page</h1>
      <p>This is just a bunch of stuff that I am typing while I listen to music for the sake of examples and whatnot and etcetra and whatnot.</p>
    </div>

  </div>

</div>

<div class="container">

  <div class="row">


  </div>

</div>

</body>

</HTML>